<form [formGroup]="form" (ngSubmit)="saveProduct($event)">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Productos
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input placeholder="Id" type="text" matInput formControlName="id">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                            <input placeholder="Titulo"  type="text" matInput formControlName="title">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                            <input placeholder="Precio"  type="number" matInput formControlName="price">
                    </mat-form-field>
                    <div *ngIf="priceField.errors && priceField.dirty">
                        <p *ngIf="priceField.hasError('price_invalid')">Debe ser menor de 10.000</p>
                        <p *ngIf="priceField.hasError('required')">El campo es requerido</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                <mat-form-field>
                         <textarea placeholder="Descripción"  matInput formControlName="descripcion"></textarea>
                        <!-- <input type="text" placeholder="Descripción"  matInput formControlName="descripcion"> -->
                </mat-form-field>
                 </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <img *ngIf="(image$ | async) as image" [src]="image" alt="">
                    <input type="file" (change)="uploadfile($event)">
                 </div>
            </div>
           
       
      
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button [disabled]="form.invalid" type="submit">Guardar</button>
        </mat-card-actions>
    </mat-card>
</form>

<!-- <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <input placeholder="Price" formControlName="price" matInput type="number" />
            <mat-error *ngIf="priceField.hasError('price_invalid')">
              Price is <strong>not valid</strong>
            </mat-error>
            <mat-error *ngIf="priceField.hasError('required')">
              Price is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div> -->
